NEXT_PUBLIC_PROJECT_ID=project.id

NEXT_PUBLIC_CMS_URL=http://localhost:5000
# NEXT_PUBLIC_CMS_URL=https://my-cdn-coral.vercel.app

# NEXT_PUBLIC_BASE_URL=https://myproject.com
NEXT_PUBLIC_BASE_URL=http://localhost:4000